<div id="<%= dom_id location %>">
  <% if location.weather.present? %>
    <table style="margin: auto; border: 1px solid gray; width: 65%;">
      <caption>
        <%= location.weather.Headline.Text %>
      </caption>
      <thead>
        <tr>
          <th scope="col" style="text-indent: -999em;">Time</th>
          <th scope="col" style="text-indent: -999em;">Condition</th>
          <th scope="col" style="text-align: left;">Temperature</th>
          <th scope="col" style="text-align: left;">Wind</th>
        </tr>
      </thead>
      <tbody>
        <% location.weather.DailyForecasts.each do |forecast| %>
          <% bg_color = cycle("white", "#ffffcc") %>
          <tr style="background-color: <%= bg_color %>;">
            <td>
              <%= date_label(forecast.Date, :day) %>
            </td>
            <td>
              <%= weather_icon(forecast.Day) %>
              <%= forecast.Day.LongPhrase %>
            </td>
            <td>High: <%= temperature_label(forecast.Temperature, :high) %></td>
            <td><%= wind_direction(forecast.Day) %></td>
          </tr>
          <tr style="background-color: <%= bg_color %>;">
            <td>
              <%= date_label(forecast.Date, :night) %>
            </td>
            <td>
              <%= weather_icon(forecast.Night) %>
              <%= forecast.Night.LongPhrase %>
            </td>
            <td>Low: <%= temperature_label(forecast.Temperature, :low) %></td>
            <td><%= wind_direction(forecast.Night) %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <div style="text-align: center;">
              <small>
                <%= cache_notice(location) %>
              </small>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  <% end %>

  <div style="text-align: center;">
    <p>
      <%= link_to "Back to Locations", locations_path %>
    </p>
  </div>
</div>
