<div id="<%= dom_id location %>">
  <% if location.weather.present? %>
    <table>
      <caption>
        <%= render "location_address", location: location %>
      </caption>
      <thead>
        <tr>
          <th scope="col">Time</th>
          <th scope="col">Condition</th>
          <th scope="col">Temperature</th>
          <th scope="col">Humidity</th>
          <th scope="col">Wind</th>
        </tr>
      </thead>
      <tbody>
        <% if location.weather.current.present? %>
          <%= render "location_weather_row", weather: location.weather.current %>
        <% end %>

        <% next_12_hourly_items(location).each do |hour| %>
          <%= render "location_weather_row", weather: hour %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">
            <%= weather_updated_at(location.weather.current) %>

            <small>
              <%= cache_notice(location) %>
            </small>
          </td>
        </tr>
      </tfoot>
    </table>
  <% end %>
</div>
