<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Weather Widget</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag google_api_url, async: true, defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
